$primary:#4e73df;
$secondary:#858796;
$success:#1cc88a;
$info:#36b9cc;
$warning:#f6c23e;
$danger:#e74a3b;
$light:#f8f9fc;
$dark:#5a5c69;
$default-text-color:#ccc;
$sidebar:#242424;
$background:#181818;
$card:#262626;
$card-header:#303030;
$card-border:#202020;
$table-border:#484848;